.list {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.listItem {
  display: inline-flex;
}
.mainButtons {
  padding: 10px 30px;
  text-transform: capitalize;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid gray;
}
